body {
	background-color: #92b7cf;
	color: white;
	width: 900px;
	padding: 20px 0px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Share Tech Mono', sans-serif;
	background-image: url('../img/patternBody.png');
	background-size: 128px 128px;
	background-repeat: repeat;
	background-position: center center;
	image-rendering: pixelated;	
	image-rendering: crisp-edge;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
}

header, nav, section, footer{
	width: 900px;
	display: inline-block;
	box-sizing: border-box;
}

header, footer{
	background-color: rgb(27, 61, 84);
	background-image: url('../img/patternHeader.png');
	background-size: 128px 128px;
	background-repeat: repeat;
	background-position: center center;
}

header .icon{
	background-image: url('../img/header.png');
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	height: 140px;
	margin-top: 50px;
	width: 100%;
	box-sizing: border-box;
}

nav{
	background-color: rgb(4, 24, 38);
}

nav a{
	vertical-align: top;
	display: inline-block;
	text-decoration: none;
	font-weight: 700;
	font-size: 20px;
	color: white;
	width: 130px;	
	background-color: rgb(234, 234, 234);
	border: 1px solid rgb(11, 41, 62);
	border-bottom: 3px solid rgb(11, 41, 62);
	color: rgb(11, 41, 62);
	padding: 5px;
	margin: 0px 0px 0px 0px;
}

nav a:hover{
	background-color: rgb(243, 243, 243);
}

nav a:active{
	background-color: white;
	border: 1px solid rgb(11, 41, 62);
	margin: 2px 0px 0px 0px;
}

section{
	color: rgb(39, 90, 125);
	background-color: white;
	text-align: left;
	padding: 50px;
}

section h2{
	margin: 0;
	margin-bottom: 22px;
	padding-top: 22px;
	border-bottom: 1px solid rgba(230, 209, 96, 0.54);
}

section img{
	display: block;
	margin: 0 auto;
	max-width: 800px;
}

section .legend{
	text-align: center;
	font-style: italic;
	text-decoration: underline;
	padding: 10px 0 15px 0;
}

section a{
	text-decoration: none;
	font-weight: 700;
	color: rgb(4, 24, 38);
}

section a:hover{
	text-decoration: underline;
}

footer{
	border-top: 5px solid rgb(4, 24, 38);
	padding: 15px;
}

button{
	vertical-align: top;
	background-color: rgb(234, 234, 234);
	border: 1px solid rgb(11, 41, 62);
	border-bottom: 3px solid rgb(11, 41, 62);
	color: rgb(11, 41, 62);
	font-family: 'Share Tech Mono', sans-serif;
	padding: 5px;
	margin: 0px 0px 0px 0px;
	font-size: 16px;
}

button:hover{
	background-color: rgb(243, 243, 243);
}

button:active{
	background-color: white;
	border: 1px solid rgb(11, 41, 62);
	margin: 2px 0px 0px 0px;
}

.textInput, .cadreText{
	background-color: rgb(234, 234, 234);
	border: 1px solid rgb(11, 41, 62);
	font-family: 'Share Tech Mono', sans-serif;
	font-size: 16px;	
	color: rgb(11, 41, 62);
	width: 100%;
	box-sizing: border-box;
}

.cadreText{
	resize: vertical;
	min-height: 100px;
	max-height: 500px;
	overflow: auto;
}

.cadreTextLine{

}

.textInput{
	height: 33px;
	vertical-align: bottom;
}