body {
	background-color: #92b7cf;
	color: white;
	width: 900px;
	padding: 20px 0px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Share Tech Mono', sans-serif;
	background-image: url('../img/patternBody.png');
	background-size: 128px 128px;
	background-repeat: repeat;
	background-position: center center;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	-ms-interpolation-mode: nearest-neighbor;
}

header, nav, section, footer{
	width: 900px;
	display: inline-block;
	box-sizing: border-box;
}

header, footer{
	background-color: rgb(27, 61, 84);
	background-image: url('../img/patternHeader.png');
	background-size: 128px 128px;
	background-repeat: repeat;
	background-position: center center;
	padding: 0px 20px;
}

header .icon{
	background-image: url('../img/header.png');
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	height: 140px;
	margin-top: 50px;
	width: 100%;
	box-sizing: border-box;
}

nav{
	background-color: rgb(4, 24, 38);
}

nav ul, nav li{
	display: inline-block;
	margin: 0;
	padding: 0;
}

nav li a{
	vertical-align: top;
	display: inline-block;
	text-decoration: none;
	font-weight: 700;
	font-size: 20px;
	background-color: rgb(11, 42, 62);
	border: 1px solid white;
	border-bottom: 3px solid white;
	color: white;
	padding: 5px 10px;
	margin: 5px 2px;
}

nav li .pageOuverte{
	text-decoration: underline;
}

nav li a:hover{
	background-color: rgb(11, 42, 62);
	border-bottom: 2px solid white;
	margin-top: 6px;
}

nav li a:active{
	background-color: rgb(11, 42, 62);
	border: 1px solid white;
	margin-top: 7px;
}

section{
	color: rgb(39, 90, 125);
	background-color: white;
	text-align: left;
	padding: 30px;
}

section h2{
	margin: 0;
	margin-left: 20px;
	margin-bottom: 22px;
	padding-top: 22px;
	border-bottom: 1px solid rgba(230, 209, 96, 0.54);
}

img{
	image-rendering: auto;
}

section img{
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

section .legend{
	text-align: center;
	font-style: italic;
	text-decoration: underline;
	padding: 10px 0 15px 0;
}

section a{
	text-decoration: none;
	font-weight: 700;
	color: rgb(4, 24, 38);
}

section a:hover{
	text-decoration: underline;
}

footer{
	border-top: 5px solid rgb(4, 24, 38);
	padding: 15px;
}

button{
	vertical-align: middle;
	background-color: rgb(234, 234, 234);
	border: 1px solid rgb(11, 41, 62);
	border-bottom: 3px solid rgb(11, 41, 62);
	color: rgb(11, 41, 62);
	font-family: 'Share Tech Mono', sans-serif;
	padding: 5px;
	margin: 0px;
	margin-top: 0px;
	font-size: 16px;
}

button:hover{
	background-color: rgb(243, 243, 243);
	border-bottom: 2px solid rgb(11, 41, 62);
	margin: 0px;
	margin-top: 1px;
}

button:active{
	background-color: white;
	border-bottom: 1px solid rgb(11, 41, 62);
	margin: 0px;
	margin-top: 2px;
}

.textInput, .cadreText{
	background-color: rgb(234, 234, 234);
	border: 1px solid rgb(11, 41, 62);
	font-family: 'Share Tech Mono', sans-serif;
	font-size: 16px;	
	color: rgb(11, 41, 62);
	width: 100%;
	box-sizing: border-box;
	padding: 5px;
}

.cadreText{
	resize: vertical;
	min-height: 100px;
	max-height: 300px;
	overflow: auto;
}

.cadreTextLine{
}

.textInput{
	height: 33px;
	vertical-align: bottom;
	border-top-width: 0px;
}

.graph{
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	box-sizing: border-box;
}

/* Version mobile */

@media (max-width: 900px) {
	* {
		box-sizing: border-box;
	}
	
	/* passer body (et tous les éléments de largeur fixe) en largeur automatique */
	body, header, nav, section, footer{
		width: 100%;
	}

	section{
		padding: 10px;
	}
	
	/* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */

	img,
	table,
	td,
	blockquote,
	code,
	pre,
	textarea,
	input,
	iframe,
	object,
	embed,
	video {
		max-width: 100%;
	}
	
	/* conserver le ratio des images */

	img {
		height: auto;
	}
	
	/* gestion des mots longs */

	textarea,
	table,
	td,
	th,
	code,
	pre,
	samp {
		-webkit-hyphens: auto; /* césure propre */
		-moz-hyphens: auto;
		hyphens: auto;
		word-wrap: break-word; /* passage à la ligne forcé */
	}
	
	code,
	pre,
	samp {
		white-space: pre-wrap; /* passage à la ligne spécifique pour les éléments à châsse fixe */
	}
	
	/* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */

	.element1,
	.element2 {
		float: none;
		width: auto;
	}
	
	/* masquer les éléments superflus */

	.hide_mobile {
		display: none !important;
	}
}

@media (max-device-width:900px) and (orientation: landscape) {
	html {
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
	}
}